body {
  background-color: rgb(15, 14, 47);
  color: white;
  background-image: url("../assets/dribbble2.jpg");
  /* background-repeat: no-repeat; */
  background-size: contain;
  /* padding: 60px; */
}

.col.user {
  min-height: 80px;
  font-family: "PT Sans", sans-serif;
  display: flex;
  justify-content: center;
}

.circleOfResult {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  background-image: url('../assets/edit.jpg') ;
  background-size: cover;
  font-size: 75px;
  color: rgb(2, 2, 2);
  line-height: 160px;
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  transition: background-color 2s ease;
}

#countdown-section {
  min-height: 330px;
  background-color: rgba(242, 240, 240, 0.527);
  border-radius: 15px;
  
} 


/* general styling */
* {
  /* box-sizing: border-box;
  margin: 0;
  padding: 0; */
}

.container {
  /* padding: 100px; */
  margin: 0 auto;
  text-align: center;
}


.cardR {
  margin: 0 auto;
  padding: 15px;
  max-width: 615px;
  text-align: center;
  background-color: #c7c7c7c2;
  border-radius: 12px;
  box-shadow: 0 10px 10px -5px #00ff8a;
  /* position: absolute; */
 
  /* transform: translate(-50%, -50%); */
}

#countdown {
font-size: 40px;
color: rgb(252, 252, 252);

}

@media all and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  
  li {
    font-size: 1.125rem;
    padding: .75rem;
  }
  
  li span {
    font-size: 3.375rem;
  }
} 

.body-padding{
  padding: 60px;
}